.about-us {
  .wrap-box {
    position: relative;
    margin-bottom: 30px;
  }

  .about-wrap-left {
    @include background-as-img();
    transform-origin: left;
  }

  .about-wrap-right {
    @include background-as-img();
    float: right;
    transform-origin: right;
    animation-delay: .3s;
    opacity: 0;
  }

  .about-wrap {
    background-size: cover;
    width: 85%;
    height: 300px;
    position: relative;
    opacity: 0;
    @extend .overlay;

    @include respond-to-mobile() {
      width: 100%;
      height: 200px;
    }

    &.active {
      animation: about-wrap .8s ease-in-out forwards;
      opacity: 1;
    }

    .title-right {
      right: 20px;
      position: absolute !important;

      @include respond-to-mobile() {
        right: auto;
      }
    }

    .title {
      color: $white-color;
      line-height: 300px;
      padding-left: 20px;
      z-index: 1;
      position: relative;
      letter-spacing: 2px;

      @include respond-to-mobile() {
        line-height: 250px;
        font-size: 24px;
      }
    }
  }

  .feature-link {
    position: absolute;
    bottom: 0;
    right: 15px;

    @include respond-to-mobile() {
      position: relative;
      left: 0;
      padding: 0 20px;
      margin-top: -50px;
    }

    .feature-link-item {
      padding: 30px 90px;
      font-size: $font-size-base;
      display: block;
    }

    h3.feature-link-item {
      background-color: $lightest-gray-color;
    }

    a.feature-link-item {
      background: $blue-color;
      color: $white-color;
      transition: all .3s;

      &:hover {
        text-decoration: none;
        background: $black-color;
      }
    }
  }

  .feature-link-right {
    right: auto;
    left: 15px;
    opacity: 0;

    @include respond-to-mobile() {
      left: 0;
    }

    &.active {
      animation: about-wrap .6s ease-in-out forwards;
      transform-origin: right;
      animation-delay: .5s;
    }
  }

  .feature-link-left {
    opacity: 0;

    &.active {
      animation: about-wrap .6s ease-in-out forwards;
      transform-origin: left;
      animation-delay: .3s;
    }
  }
}

@keyframes about-wrap {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
