.banner {
  .banner-img {
    @extend .overlay;
    @extend %banner-img;

    @include respond-to-mobile() {
      height: 188px;

      &:last-child {
        margin-top: 15px;
      }
    }
  }

  .banner-title {
    z-index: $zindex-overlay;
  }
}
