section.banner{

  .banner-img{
    &:hover .banner-overlay{
      opacity: 0;
    }
  }

  .banner-overlay{
    @extend .overlay;
    background: rgba(#000, 0.4);

  }


  .banner-img-1{
    background-image: url(../img/img_index_01.jpg);
    @extend .banner-img;
  }
  .banner-img-2{
    background-image: url(../img/img_index_02.jpg);
    @extend .banner-img;
  }


}
