.banner {
  @include respond-to-mobile() {
    .banner-img:last-child {
      margin-top: 15px;
    }

    .banner-img {
      height: 188px;
    }
  }

  .banner-img {
    @extend .overlay;
    @extend %banner-img;
  }

  .banner-title {
    z-index: $zindex-overlay;
  }
}
