footer {
  .footer-utility {
    background-color: $gray-color;
    width: 100%;
    padding: 20px;
    font-size: 14px;

    .footer-info {
      img {
        width: 260px;
        height: auto;
      }

      .footer-link {
        margin: 20px 0 0;

        li {
          display: inline-table;

          a {
            color: $white-color;
            border-right: 1px solid $white-color;
            padding-right: 10px;
          }
        }

        li:last-child a {
          border-right: 0;
        }
      }
    }

    .language-switcher {
      color: $white-color;
      float: right;

      @include respond-to-mobile() {
        float: left;
        margin-top: 24px;
      }

      &-box {
        background: transparent;
        border: 0;
        appearance: none;
        outline: none;
        padding: 4px 20px 4px 8px;
        background-image: url(/img/ico_arrow-down_white.png);
        background-repeat: no-repeat;
        background-size: 10px auto;
        background-position: right center;
      }

      &-label {
        font-size: $font-size-sm;
        line-height: 1;
        border-right: 1px solid $white-color;
        padding-right: 8px;
        cursor: pointer;
      }
    }
  }


  .footer-copyright {
    background-color: $darker-black-color;
    color: $white-color;
    padding: 15px;

    h4 {
      font-size: 12px;
    }
  }

}
