section.news {
  .news-title {
    margin-bottom: 30px;
  }

  .news-schedule {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 20px 0px;
  }

  .news-schedule:nth-child(2) {
    border: 0;
  }

  .detail-schedule {
    a {
      color: #777;
      font-size: 1.3em;
      display: block;
    }
  }

  .day-schedule {
    h4 {
      color: #0d57a7;
    }
  }

}
