.news {
  .news-title {
    margin-bottom: 30px;
  }

  .news-schedule {
    border: 1px solid $lightest-gray-color;
    border-left: 0;
    border-right: 0;
    padding: 20px 0;
  }

  .news-schedule:nth-child(2) {
    border: 0;
  }

  .detail-schedule {
    a {
      color: $gray-color;
      font-size: 1.3em;
      display: block;
    }
  }

  .day-schedule {
    h4 {
      color: $blue-color;
    }
  }
}
