section.news{



  .news-schedule{
    // background: pink;
    // display: block;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    display: flex;
    padding: 20px 0px;
  }

  .news-schedule:nth-child(2){
    border: none;
  }

  .detail-schedule{
    a{
      color: #777;
      font-size: 1.3em;
      display: block;
    }
  }

  .day-schedule{
    h4{
      color: #0d57a7;
    }
  }

}
