section.services{
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding: 50px 0px 20px;

  background: #ddd;
  .services-title{
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .banner-overlay{
    @extend .overlay;
    background: rgba(black, 0.4);
    &:hover{
      opacity: 0;
    }

  }

  .services-img-1{
    background-image: url(../img/img_index_03.jpg);
    @extend .banner-img;
  }

  .services-img-2{
    background-image: url(../img/img_index_04.jpg);
    @extend .banner-img;
  }

  .services-img-3{
    background-image: url(../img/img_index_05.jpg);
    @extend .banner-img;
    height: 250px;
  }

  .services-img-4{
    background-image: url(../img/img_index_06.jpg);
    @extend .banner-img;
    height: 250px;

  }

  .services-img-5{
    background-image: url(../img/img_index_07.jpg);
    @extend .banner-img;
    height: 250px;
    
  }

  .services-wrap-box-2{
    padding: 20px;
  }

}
