.services {
  width: 100%;
  height: auto;
  padding: 50px 0 20px;
  background-color: $lightest-gray-color;

  .services-title {
    margin-bottom: 20px;
  }

  .banner-title {
    z-index: $zindex-overlay;
  }

  .services-img {
    @extend %banner-img;
    @extend .overlay;

    @include respond-to-mobile() {
      height: 188px;

      &:last-child {
        margin-top: 15px;
      }
    }
  }

  .services-img-sm {
    height: 250px;

    @include respond-to-mobile() {
      height: 144px;
    }
  }
}
