section.services {
  width: 100%;
  height: auto;
  padding: 50px 0 20px;
  background: #ddd;

  .services-title {
    margin-bottom: 20px;
  }

  .banner-overlay {
    @extend %overlay;
    background: rgba(black, .4);
  }

  .services-img {
    @extend %banner-img;
    &:hover .banner-overlay {
      opacity: 0;
    }
  }

  @include respond-to-mobile() {
    .services-img:last-child {
      margin-top: 15px;
    }
    .services-img {
      height: 188px;
    }
  }

  .services-img-3,
  .services-img-4,
  .services-img-5 {
    height: 250px;
  }

  @include respond-to-mobile() {
    .services-img-sm{
      height: 144px;
    }
  }

  .services-wrap-box-2 {
    padding: 20px;
  }

}
