p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h4 {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}

h1,
h2 {
  margin-bottom: 32px;
}

h1 {
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: .12em;
}

h2 {
  font-size: $font-size-xl;
  line-height: 1.5;
  letter-spacing: .04em;
}

h3 {
  font-family: $font-family-bold;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: .16em;
}

h4 {
  font-size: $font-size-base;
  line-height: 1.5;
  letter-spacing: .04em;
  margin-bottom: 16px;
}

.text-uppercase {
  text-transform: uppercase;
}

.ul-unstyle {
  padding: 0;

  li {
    list-style: none;
  }
}

.overlay {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s ease;
  }

  &:hover:after {
    background-color: transparent;
  }

  &-lighter-blue {
    &:after {
      background-color: rgba($lighter-blue-color, .4);
    }
  }

  &-blue {
    &:after {
      background-color: rgba($blue-color, .6);
    }
  }

  &-darker-blue {
    &:hover:after {
      background-color: rgba($blue-color, .6) !important;
    }

    &:after {
      background-color: rgba($blue-color, .6);
    }
  }
}

%banner-img {
  height: 300px;
  background-position: center;
  background-size: cover;
  color: $white-color;
  text-align: center;
  position: relative;

  .banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
  }
}
