@mixin hover-a() {
  text-decoration: none;
}

@mixin background-as-img() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin respond-to-mobile() {
  @media (max-width: $screen-mobile - 1) {
    @content
  }
}

@mixin respond-to-not-mobile() {
  @media (min-width: $screen-mobile) {
    @content
  }
}
