.no-p {
  padding: 0;

  @include respond-to-mobile() {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.no-pl {
  padding-left: 0;

  @include respond-to-mobile() {
    padding-left: 15px;
  }
}
.no-pr {
  padding-right: 0;

  @include respond-to-mobile() {
    padding-right: 15px;
  }
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}
