.mega {
  .nav,
  .collapse,
  .dropup,
  .dropdown {
    position: static;
  }

  .container {
    position: relative;
  }

  .dropdown-menu {
    left: auto;
  }

  .dropdown.mega-fw .dropdown-menu {
    left: 14px;
  }
}
